# Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [2]:
import pandas as pd

df = pd.read_csv('ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [22]:
# решение с pandas
uid_grouped = df.groupby('userId')
udf = pd.DataFrame()
udf['recs_num'] = uid_grouped.count()['movieId']
udf['user_ttl'] = uid_grouped.timestamp.max()-uid_grouped.timestamp.min()

udf = udf[udf.recs_num >= 100]

udf.head()

        recs_num   user_ttl
userId
4            204     203560
5            100       2101
8            116      85187
15          1700  471393496
17           363       8053

In [23]:
!head ratings.csv -n3

In [29]:
# альтернативный вариант (тема занятия была всё же про альтернативные варианты обработки больших массивов)
# проверим что записи отсортированы по uid
uid_sorted = True
res = {}
with open('ratings.csv') as f:
    hdr = f.readline()
    
    p_uid = None
    min_ts, max_ts = None, None
    recs_num = 0
    for ln in f:
        uid, _, _, ts = ln.strip().split(',')
        uid, ts = int(uid), int(ts)   
        
        if p_uid is None or p_uid < uid:
            # новый uid пошёл
            if recs_num >= 100:
                # запишем ttl для юзера
                res[p_uid] = max_ts - min_ts            
            p_uid, min_ts, max_ts = uid, ts, ts            
            recs_num = 1
        elif uid < p_uid:
            # uid может(должен) быть только больше или равен предыдущему значению
            uid_sorted = False
            print('dataset not sorted by uid')
            break
        else:
            # запись для уже известного юзера
            recs_num = recs_num + 1
            min_ts = min([ts, min_ts])
            max_ts = max([ts, max_ts])
        
if uid_sorted:
    for uid in res:
        print(f'lifetime of user {uid} is {res[uid]} seconds')

lifetime of user 4 is 203560 seconds
lifetime of user 5 is 2101 seconds
lifetime of user 8 is 85187 seconds
lifetime of user 15 is 471393496 seconds
lifetime of user 17 is 8053 seconds
lifetime of user 19 is 5282 seconds
lifetime of user 21 is 1365432 seconds
lifetime of user 22 is 91491 seconds
lifetime of user 23 is 18342129 seconds
lifetime of user 26 is 20267261 seconds
lifetime of user 30 is 115852276 seconds
lifetime of user 33 is 4332211 seconds
lifetime of user 34 is 2835 seconds
lifetime of user 36 is 5949290 seconds
lifetime of user 38 is 59971665 seconds
lifetime of user 41 is 15930495 seconds
lifetime of user 43 is 13885 seconds
lifetime of user 48 is 136315977 seconds
lifetime of user 56 is 8564120 seconds
lifetime of user 57 is 4323 seconds
lifetime of user 61 is 1374418 seconds
lifetime of user 67 is 4136 seconds
lifetime of user 68 is 152083904 seconds
lifetime of user 72 is 2945466 seconds
lifetime of user 73 is 220585493 seconds
lifetime of user 75 is 22560475 seconds
lifetime of user 77 is 21944613 seconds
lifetime of user 78 is 89416228 seconds
lifetime of user 81 is 11772 seconds
lifetime of user 83 is 2595 seconds
lifetime of user 84 is 198892 seconds
lifetime of user 85 is 6316 seconds
lifetime of user 86 is 3070 seconds
lifetime of user 88 is 19631393 seconds
lifetime of user 91 is 16397 seconds
lifetime of user 92 is 1201 seconds
lifetime of user 93 is 263753 seconds
lifetime of user 94 is 615532 seconds
lifetime of user 95 is 9239510 seconds
lifetime of user 97 is 1777 seconds
lifetime of user 99 is 106237866 seconds
lifetime of user 102 is 5201447 seconds
lifetime of user 105 is 113865791 seconds
lifetime of user 110 is 1148 seconds
lifetime of user 111 is 2507915 seconds
lifetime of user 118 is 14255111 seconds
lifetime of user 119 is 76737913 seconds
lifetime of user 120 is 42072174 seconds
lifetime of user 125 is 25295470 seconds
lifetime of user 128 is 8523 seconds
lifetime of user 130 is 10659002 seconds
lifetime of user 133 is 20371 seconds
lifetime of user 134 is 3075 seconds
lifetime of user 148 is 175485 seconds
lifetime of user 149 is 172744 seconds
lifetime of user 150 is 224803872 seconds
lifetime of user 152 is 49683 seconds
lifetime of user 157 is 79469144 seconds
lifetime of user 159 is 1572 seconds
lifetime of user 160 is 3855 seconds
lifetime of user 165 is 8589450 seconds
lifetime of user 168 is 13330 seconds
lifetime of user 169 is 1611 seconds
lifetime of user 175 is 49213 seconds
lifetime of user 176 is 43394073 seconds
lifetime of user 177 is 137493 seconds
lifetime of user 178 is 5631 seconds
lifetime of user 182 is 3246 seconds
lifetime of user 185 is 16264639 seconds
lifetime of user 187 is 31300217 seconds
lifetime of user 188 is 1584 seconds
lifetime of user 189 is 2963 seconds
lifetime of user 195 is 3285593 seconds
lifetime of user 199 is 188962835 seconds
lifetime of user 200 is 22275862 seconds
lifetime of user 201 is 77327 seconds
lifetime of user 205 is 753527 seconds
lifetime of user 212 is 61190234 seconds
lifetime of user 213 is 10188 seconds
lifetime of user 214 is 36804842 seconds
lifetime of user 217 is 981 seconds
lifetime of user 219 is 182314593 seconds
lifetime of user 220 is 59031802 seconds
lifetime of user 232 is 9818 seconds
lifetime of user 234 is 211245 seconds
lifetime of user 235 is 1627665 seconds
lifetime of user 236 is 4609 seconds
lifetime of user 239 is 8142 seconds
lifetime of user 240 is 1951271 seconds
lifetime of user 242 is 7285 seconds
lifetime of user 243 is 24646141 seconds
lifetime of user 245 is 954108 seconds
lifetime of user 247 is 262696 seconds
lifetime of user 250 is 339701 seconds
lifetime of user 251 is 162655 seconds
lifetime of user 253 is 9275 seconds
lifetime of user 254 is 2446 seconds
lifetime of user 255 is 83803 seconds
lifetime of user 257 is 111934874 seconds
lifetime of user 262 is 32657746 seconds
lifetime of user 263 is 340863 seconds
lifetime of user 265 is 5625 seconds
lifetime of user 268 is 23319 seconds
lifetime of user 270 is 50305 seconds
lifetime of user 275 is 59965941 seconds
lifetime of user 282 is 120170 seconds
lifetime of user 283 is 57683018 seconds
lifetime of user 285 is 455291 seconds
lifetime of user 287 is 6097214 seconds
lifetime of user 292 is 36870741 seconds
lifetime of user 294 is 117442087 seconds
lifetime of user 295 is 12418391 seconds
lifetime of user 297 is 3036639 seconds
lifetime of user 299 is 671184 seconds
lifetime of user 303 is 146259829 seconds
lifetime of user 304 is 2407 seconds
lifetime of user 306 is 44897485 seconds
lifetime of user 309 is 13231293 seconds
lifetime of user 311 is 250421120 seconds
lifetime of user 312 is 62308 seconds
lifetime of user 313 is 70696508 seconds
lifetime of user 316 is 916 seconds
lifetime of user 324 is 9330 seconds
lifetime of user 328 is 10809 seconds
lifetime of user 339 is 1405 seconds
lifetime of user 342 is 5028 seconds
lifetime of user 344 is 3012824 seconds
lifetime of user 345 is 2425466 seconds
lifetime of user 346 is 116391114 seconds
lifetime of user 350 is 28074862 seconds
lifetime of user 353 is 122128978 seconds
lifetime of user 355 is 100925185 seconds
lifetime of user 358 is 316883 seconds
lifetime of user 362 is 48989614 seconds
lifetime of user 363 is 3620958 seconds
lifetime of user 367 is 172545840 seconds
lifetime of user 370 is 3466976 seconds
lifetime of user 371 is 10890545 seconds
lifetime of user 373 is 257444 seconds
lifetime of user 378 is 334226 seconds
lifetime of user 380 is 515789661 seconds
lifetime of user 381 is 38024 seconds
lifetime of user 382 is 18174343 seconds
lifetime of user 384 is 70692062 seconds
lifetime of user 386 is 85744 seconds
lifetime of user 387 is 61787863 seconds
lifetime of user 388 is 282518695 seconds
lifetime of user 390 is 3549 seconds
lifetime of user 391 is 1707 seconds
lifetime of user 394 is 855132 seconds
lifetime of user 396 is 12372953 seconds
lifetime of user 402 is 25868136 seconds
lifetime of user 405 is 36413307 seconds
lifetime of user 407 is 204696680 seconds
lifetime of user 408 is 88733 seconds
lifetime of user 412 is 6572 seconds
lifetime of user 416 is 1215 seconds
lifetime of user 417 is 720853 seconds
lifetime of user 418 is 16330514 seconds
lifetime of user 423 is 13055388 seconds
lifetime of user 426 is 111463384 seconds
lifetime of user 427 is 476569256 seconds
lifetime of user 428 is 94473 seconds
lifetime of user 430 is 61420617 seconds
lifetime of user 431 is 29240209 seconds
lifetime of user 433 is 1510 seconds
lifetime of user 434 is 24227262 seconds
lifetime of user 439 is 94655 seconds
lifetime of user 441 is 36222091 seconds
lifetime of user 442 is 6144268 seconds
lifetime of user 450 is 26388006 seconds
lifetime of user 452 is 175393426 seconds
lifetime of user 457 is 196652 seconds
lifetime of user 460 is 3495 seconds
lifetime of user 461 is 59185229 seconds
lifetime of user 463 is 1800517 seconds
lifetime of user 466 is 4485270 seconds
lifetime of user 468 is 14860 seconds
lifetime of user 471 is 33780560 seconds
lifetime of user 472 is 233954059 seconds
lifetime of user 475 is 7520138 seconds
lifetime of user 480 is 66791091 seconds
lifetime of user 481 is 4891691 seconds
lifetime of user 483 is 2377 seconds
lifetime of user 486 is 2758 seconds
lifetime of user 487 is 2901 seconds
lifetime of user 493 is 1333 seconds
lifetime of user 496 is 9158664 seconds
lifetime of user 497 is 2526714 seconds
lifetime of user 500 is 25119978 seconds
lifetime of user 501 is 33184324 seconds
lifetime of user 502 is 34548214 seconds
lifetime of user 505 is 1907999 seconds
lifetime of user 509 is 226305260 seconds
lifetime of user 510 is 78278492 seconds
lifetime of user 514 is 223707 seconds
lifetime of user 516 is 1782 seconds
lifetime of user 518 is 84968 seconds
lifetime of user 519 is 11083823 seconds
lifetime of user 520 is 4572062 seconds
lifetime of user 522 is 29363 seconds
lifetime of user 523 is 2241 seconds
lifetime of user 525 is 1983 seconds
lifetime of user 527 is 2275 seconds
lifetime of user 528 is 2153444 seconds
lifetime of user 529 is 448332654 seconds
lifetime of user 531 is 4179065 seconds
lifetime of user 533 is 2244909 seconds
lifetime of user 534 is 82724 seconds
lifetime of user 536 is 206 seconds
lifetime of user 537 is 2247287 seconds
lifetime of user 544 is 14849990 seconds
lifetime of user 547 is 501810535 seconds
lifetime of user 548 is 2566 seconds
lifetime of user 550 is 16819088 seconds
lifetime of user 553 is 2676 seconds
lifetime of user 558 is 60619931 seconds
lifetime of user 559 is 34057440 seconds
lifetime of user 560 is 4435 seconds
lifetime of user 561 is 4519314 seconds
lifetime of user 562 is 3237 seconds
lifetime of user 563 is 59786460 seconds
lifetime of user 564 is 1516358 seconds
lifetime of user 570 is 23386 seconds
lifetime of user 572 is 471335 seconds
lifetime of user 574 is 14538584 seconds
lifetime of user 575 is 5469578 seconds
lifetime of user 577 is 15894287 seconds
lifetime of user 580 is 124852357 seconds
lifetime of user 582 is 3697 seconds
lifetime of user 584 is 6076795 seconds
lifetime of user 585 is 758563 seconds
lifetime of user 587 is 173397529 seconds
lifetime of user 592 is 3768 seconds
lifetime of user 595 is 154462 seconds
lifetime of user 596 is 78941959 seconds
lifetime of user 597 is 3462 seconds
lifetime of user 598 is 50796447 seconds
lifetime of user 599 is 38028616 seconds
lifetime of user 602 is 4360 seconds
lifetime of user 603 is 447343 seconds
lifetime of user 605 is 26045 seconds
lifetime of user 607 is 45147558 seconds
lifetime of user 608 is 19468102 seconds
lifetime of user 609 is 848 seconds
lifetime of user 615 is 64237354 seconds
lifetime of user 620 is 2358701 seconds
lifetime of user 623 is 3102 seconds
lifetime of user 624 is 457492507 seconds
lifetime of user 626 is 9953 seconds
lifetime of user 627 is 1554387 seconds
lifetime of user 641 is 27460432 seconds
lifetime of user 646 is 257040 seconds
lifetime of user 647 is 1177 seconds
lifetime of user 648 is 322280134 seconds
lifetime of user 652 is 134554199 seconds
lifetime of user 654 is 5413 seconds
lifetime of user 655 is 5622 seconds
lifetime of user 656 is 3053 seconds
lifetime of user 659 is 31609411 seconds
lifetime of user 664 is 98180439 seconds
lifetime of user 665 is 54131471 seconds

# Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [41]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
display(rzd)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
display(auto)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
display(air)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
display(client_base)

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [42]:
for t in [rzd, auto, air, client_base]:
    t.set_index('client_id', inplace=True)

In [47]:
# сформировать таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
tbl_1 = rzd.join([air, auto], how='outer').fillna(0).reset_index()
display(tbl_1.head())

   client_id  rzd_revenue  air_revenue  auto_revenue
0        111       1093.0          0.0           0.0
1        112       2810.0          0.0           0.0
2        113      10283.0          0.0       57483.0
3        114       5774.0          0.0          83.0
4        115        981.0         81.0         912.0

In [51]:
# проверки по суммам
display(tbl_1.sum())
display(air.sum())
display(auto.sum())
display(rzd.sum())
# всё ок

client_id         916.0
rzd_revenue     20941.0
air_revenue       271.0
auto_revenue    63410.0
dtype: float64

air_revenue    271
dtype: int64

auto_revenue    63410
dtype: int64

rzd_revenue    20941
dtype: int64

In [53]:
# всё тоже самое (вроде), но вместо client_id делаем адрес клиента
tbl_2_columns = 'address rzd_revenue air_revenue auto_revenue'.split(' ')
tbl_2 = tbl_1.set_index('client_id').join(client_base, how='outer').fillna(0).reset_index()[tbl_2_columns]
tbl_2

           address  rzd_revenue  air_revenue  auto_revenue
0  Комсомольская 4       1093.0          0.0           0.0
1   Энтузиастов 8а       2810.0          0.0           0.0
2  Левобережная 1а      10283.0          0.0       57483.0
3          Мира 14       5774.0          0.0          83.0
4        ЗЖБИиДК 1        981.0         81.0         912.0
5    Строителей 18          0.0          4.0        4834.0
6  Панфиловская 33          0.0         13.0          98.0
7     Мастеркова 4          0.0        173.0           0.0

# Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы.  
**Как бы вы добавили эти сведения в таблицу визитов и покупок?**  
Для составления ответа можно использовать вопросы:
- У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?
- Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?
- Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

# вариант 1
Допущения:
- координаты также дополнены меткой времени
- все записи в исходной таблице также имеют метку времени

Ответ:
1. В таблицу визитов и покупок добавляем столбцы: user_geo_latitude, user_geo_lontitude, user_geo_city (string или city_id), user_geo_address (string).
2. Задаём max_time_diff в секундах. Эта переменная определяет насколько метка времени о координатах пользователях может отличаться от метки времени записи в визитах/покупках
3. Заполняем для каждого пользователя столбцы п. 1 с учетом max_time_diff, выбирая минимально удаленное во времени местоположение.
4. Дополнительно можно добавить столбцы по аналогии prev_user_geo (предыдущее расположение пользователя) + prev_user_geo_ts (временная метка предыдущего расположения).

## вариант 2
Допущения:
- координаты без каких либо временных меток
- считаем что координаты последовательны

Ответ:
1. Дополняем таблицу истории местоположений пользователя колонками типа country, city, address
2. Для каждого пользователя определяем его наиболее частую локацию и добавляем информацию по ней в таблицу покупок и визитов, но просто как информацию о пользователе.

Однозначно связать географию пользователя с записями визитов/покупок без возможности связать, например, по времени, эту информацию - проблематично. Нужно больше информации о контексте задачи, данных...

### Вариант 3
Допущения:
- в координатах пользователя вообще нет ничего, кроме (user_id, [geopoints]), даже по времени не упорядочены

Что можно посчитать:
- определить для пользователя bounding box его расположения;
- наиболее частую координату или область(области) с наибольшей плотностью точек;
- ...

И все эти извлеченные "признаки" дописать в истоирю визитов/покупок в удобном для последующего использования виде.

### Ответы на доп вопросы
> У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?

Варианты:
- есть временные метки у записей гео и истории визитов/покупок - связываем по времени и userid. Возможные проблемы. 
- у пользователя было открыто несколько сессий одновременно в разных местах (или из одного устройства шли координаты, а с другого были действия). Тогда данные должны быть дополнены чем-то вроде: идентификатор сессии, ip-откуда был визит/покупка (как минимум нерелевантную географию можем отбросить), ip откуда приехала география по пользователю и т.п. 

IP-пользовательских запросов, идентификатор сессии, идентификатор устройства и т.п. логировать - технический вопрос, поэтому как минимум на метку времени полагаться можно всегда. 

> Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?

Зависит от того, что и как получиться мапить в таблицу визитов/покупок.
В худшем случае - просто каша и город (страну) пользователя определим. 
По идее ещё "характер" сервиса влияет, для которого эти данные собраны. Например, если это "сервис путешественников" - то разброс координат у пользователей может быть огромный и это нормально, а если это магазин детских расходных товаров или кухонных товаров - то типовой пользователь скорее всего будет привязан к дому/городу.


> Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

Варианты:
- Пропустить через геокодер и дополнить координаты страной, городом, адресами.
- Если есть временные метки и богатая история по пользователю - определить где он живёт (вечерние координаты - дом, дневные - работа/универ, и т.п.)
- Определить дополнительную информацию к профилю пользователя - где бывает (торговые центры/места отдыха), ездит ли за пределы города/страны, наличие машины/пользуется ли часто такси или ездит общественным транспортом/метро. 
- пользуется ли средствами анонимизации - география с устройства отличается от geoip, откуда приходят данные. Если пользуется - можно маркировать для более пристального внимания.